* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
.medkv {
  display: flex;
}
.headers {
  display: flex;
  height: 65px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.headers img {
  margin-left: 2%;
  width: 150px;
  height: 22px;
}
.header-center {
  color: black;
  display: flex;
  gap: 21%;
  font-size: 16px;
  font-weight: bold;
  width: 60%;
  margin-left: 8%;
}
.header-start {
  display: flex;
  margin-left: 10px;
}
.header-end {
  display: flex;
  gap: 10px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}
.headers-button {
  border-radius: 50%;
  padding: 8px;
  width: 30px;
  height: 30px;
  border: none;
}
.headers-button-read {
  width: 110.8px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-right: 2%;
  background-color: blue;
  color: white;
}
