.threenews1-container img {
    width: 322px;
    height: 170px;
    cursor: pointer;
}
.threenews1-container {
    width: 322px;
    height: 521px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px gray solid;
    cursor: pointer;
}
.threenews1-bottom {
    width: 322px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px gray solid;
    padding: 5px;
    
}
.threenews1-bottom h3 {
    color: blue;
    font-size: 15px;
}
.threenews1-bottom p {
    font-weight: bold;
    font-size: 15px;
}
.threenews1-bottom h4 {
    font-size: 13px;
    color: gray;
}